@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'poppins','sans-serif';
}

body{
    background-color: black;
}

.main{
    background-image: url(Assests/Backgroundimage2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: max(1600px, 100vw);
    height:100vh;
    position: relative;   
}

.main .shade{
    height: 100vh;
    width: 100%;
    background: rgb(0 0 0 / 40%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    top:0;
}

nav{
    display: flex;
    max-width: 77vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

nav img{
    padding-top: 23px;
    width: 165px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;   
}

nav div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.signIn{
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    border: none;
    font-family:  sans-serif,'Arial','Martel Sans';
    cursor: pointer;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 0.25rem;
    vertical-align:text-top;
    margin-left: 24px;
}

.lang div{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.lang{
    background: rgba(34, 34, 34, 0.326);
    border-color:rgb(119, 118, 118);
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
}

.sec1text{
    height: calc(100% - 80px) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    z-index: 10;
    font-family:'Martel Sans',sans-serif;
    gap: 20px;
    padding: 0 30px;
    text-align: center;
    
}

.sec1text> :nth-child(1){
    font-weight: 900;
    font-size: 50px;
    word-spacing: 10px;
    letter-spacing: 2px;
}

.sec1text >:nth-child(2){
    font-weight: 500;
    font-size: 24px;
}

.sec1text >:nth-child(3){
    font-weight: 400;
    font-size: 20px;
}

.search{
    display: flex;
    flex-direction: row;
    width: 42vw;
}

.search input[type="text"], .sec5text2 >:nth-child(2) input{
    background: rgba(5, 5, 5, 0.326);
    /* filter: opacity(0); */
    border-color:rgb(119, 118, 118);
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    font-size: 16px;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    width: 100%;
  }

.search button, .sec5text2 >:nth-child(2) button{
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    font-family: 'Arial','Martel Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
    font-size: 24px;
    margin-left: 8px;
    line-height: 24px;
    border: none;
    border-radius: 5px;
    text-wrap:nowrap;
}

.separator{
    background-color: rgb(38, 37, 37);
    height: 9px;
    width: 100%;
}

.getStarted{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 12px 24px;
}

.getStarted svg{
    margin-left: 12px;
}

.first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 75vw;
    margin-top: 8vh;
    margin-bottom: 8vh;
}


.first div{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.first div >:nth-child(1){
    font-size: 3rem;
    font-weight: 900;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.first div >:nth-child(2){
    font-size: 1.5rem;
    font-weight: 400;
}

.firstImg{
    position: relative;
}

.firstImg img{
    height: 55vh;
    z-index: 1;
}

.firstImg video{
    padding-top: 5.5rem;
    padding-left: 4.7rem;
    position: absolute;
    height: 30.5vh;
}


.second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    justify-content: center;
    margin: auto;
    max-width: 73vw;
    margin-top: 8vh;
}

.sec2text{
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'poppins';
    margin-top: 3rem
}

.secondImg img{
    height: 55vh;
}

.sec2text >:nth-child(1){
    font-size: 3.5rem;
    font-weight: 900;
    font-family: sans-serif;
}

.sec2text >:nth-child(2){
    font-size: 1.7rem;
    font-weight: 400;
    font-family: sans-serif;
    margin-top: 1rem;
}

.downloading{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 13vh;
    width: 55%;
    border-style: solid;
    border-width: 2px;
    border-radius: 0.75rem;
    border-color: rgba(117, 115, 115, 0.812);
    background-color: black;
    overflow:hidden;
    bottom: 8rem;
    box-shadow: black;

}

.downloading >:nth-child(1){
    margin-left: 0.75rem;
    height: 11vh;
}

.downloading >:nth-child(3){
    height: 3rem;
    margin-right: 0.75rem;
}

.downloadingText{
    display: flex;
    flex-direction: column;
    color: white;
}

.downloadingText >:nth-child(1){
    font-size: 1.1rem;
    font-weight: 500;
    font-family: sans-serif;
}

.downloadingText >:nth-child(2){
    color: #0071eb;
    font-size: 0.85rem;
    font-weight: 400;
}

.secondImg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    justify-content: center;
    margin: auto;
    max-width: 77vw;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.sec3text{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;    
}

.sec3text >:nth-child(1){
    font-size: 3.2rem;
    font-weight: 900;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.sec3text >:nth-child(2){
    font-size: 1.6rem;
    font-weight: 400;
    font-family: sans-serif;
}

.thirdImg{
    position: relative;
    
}

.thirdImg img{
    position: relative;
    height: 58vh;
    z-index: 1;
}

.thirdImg video{
    z-index: 0;
    position: absolute;
    top: 3.3rem;
    left: 6.7rem;
    height: 27vh;
}

.fourth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    justify-content: center;
    margin: auto;
    max-width: 77vw;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.sec4text{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;    
}

.sec4text >:nth-child(1){
    font-size: 3.2rem;
    font-weight: 900;
    font-family: sans-serif;
}

.sec4text >:nth-child(2){
    font-size: 1.8rem;
    font-weight: 400;
    font-family: sans-serif;
}

.fourth img{
    height: 55vh;
}

.fifth{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    color: white;
    margin: auto;
    width: 72vw;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.sec5text{
    display: flex;
    flex-direction:column ;
}

.sec5text>:nth-child(1){
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    font-family: sans-serif;
    margin-bottom: 2rem;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: white;
    background-color: rgb(45, 45, 45);
    padding: 1.6rem;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: sans-serif;
}

.sec5text2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}